body {
    margin: 0;
    padding: 0;
    background: url("pic/bg1.jpg")no-repeat center center fixed;


}

html,
body,
.view {
    height: 100%;
}

.view {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Page Component */
.page {
    margin: 30px 20px;
}

/* Profile Component */
.profile {
    display: block;
    height: 350px;
    border: 2px solid gray;
    margin: 10px;
    padding: 10px;
    background-color: #e1f8ea;
    min-width: 150px;
}

#already {
    font-size: 0.9em;
    color: dimgrey;
    text-align: right;
}

/* Window Component */
.window {
    display: block;
    min-width: 300px;
    border: 2px solid gray;
    margin: 10px;
    padding: 10px;
    height: 800px;
    background-color: #e1f8ea;

}
.window #showCompleted input {
    display: inline;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
}
.window #showCompleted label {
    display: inline;
    width: 250px;
    margin: 0 15px;
    font-size: 1.0em;
}
.window #showCompleted {
    display: block;
    width: 250px;
    text-align: right;
}

/* Command Box Component */
.commandBox{
    display: block;
    text-align: center;
    margin: 10px 0;
}
.commandBox #createCommand {
    width: 90%;
    height: 40px;
    margin: 10px;
    font-size: 1.2em;
}

.commandBox #createSubmit {
    display: none;
}

/* Item Component */
.itemGroup {
    margin: 20px 5px;
}

.itemGroup a {
    display: inline;
    float: right;
    margin: 0 20px;
    font-size: large;
}

.itemGroup input {
    display: inline;
    margin: 0 30px;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
}

.itemGroup div {
    display: inline;
    margin: 0 20px;
    font-size: large;
}